:root {
    --mainColor: #152028;
    --secondaryColor: #192734;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --borderColor: #164D56;
    --themeDotBorder: #fff;
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;
    --buttonColor: #17a2b8;
}