:root {
    --mainColor: #46344E;
    --secondaryColor: #38213f;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --borderColor: #1d1520;
    --themeDotBorder: #fff;
    --previewBg: rgb(29, 21, 32, 0.8);
    --previewShadow: #2b202f;
    --buttonColor: #8534a3;
}